<div class="hero">
  <div class="hero-overlay">
    <div class="hero-content">
      <div class="hero-title">ENTRENAR</div>
      <div class="hero-title">POR LA VIDA</div>
      <div class="hero-subtitle">Asociacion Civil</div>
    </div>
  </div>
</div>

<div class="mision">
  <div class="mision-title">
    <span>Nuestra mision</span>
    <span class="divisor"></span>
  </div>
  <div class="mision-content">
    <div class="mision-text">
      Una asociación deportiva para asistir profesional, comunitaria. social y
      gratuitamente a personas de ambos sexos sin límites de edad.<br />
      Dirigida a incorporar al deporte, la educacion física a todo aquel que por
      medio de esta disciplica lo aleje de las tentaciones negativas.
    </div>
      <a class="mision-read-more" href="#">Leer más</a>
  </div>
  <div class="mision-picture">
    <img src="assets/images/mision.jpg" alt="Mision" />
  </div>
</div>

<div class="reconocimientos">
  <div class="reconocimientos-title">
    <span>Reconocimentos y Distinciones</span>
    <span class="divisor"></span>
  </div>

  <div class="card">
    <div class="card-picture">
      <img src="assets/images/reconocimiento.jpg" alt="Reconocimento por Labor Social">
    </div>
    <div class="card-content">
      <div class="card-title">
        Ciudadano Ilustre
      </div>
      <div class="card-text">
        Reconocimiento del Gobierno de la Ciudad Autónoma
        de Buenos Aires para Jesus Eugenio Romero.
        El día de abril de 2017 a las 19 horas, en el Salón [...]
      </div>
      <a class="card-read-more" href="#">
        Ir a la noticia
      </a>
    </div>
  </div>

  <div class="card">
    <div class="card-picture">
      <img style="object-position: center;" src="assets/images/pfa.jpg" alt="Reconocimento por Labor Social">
    </div>
    <div class="card-content">
      <div class="card-title">
        Mención Policia Federal
      </div>
      <div class="card-text">
        En un acto en el departamento central
        de la Policia Federal Argentina. Le entregaron
        una distinción a Jesus Romero por haber sido desde niño
        adoptado por esa fuerza que fue la base de la extensa
        carrera amateur y profesional que logró.
      </div>
      <a class="card-read-more" href="#">
        Ir a la noticia
      </a>
    </div>
  </div>

  <div class="card">
    <div class="card-picture">
      <img src="assets/images/donacion-wbo.jpg" alt="Reconocimento por Labor Social">
    </div>
    <div class="card-content">
      <div class="card-title">
        World Boxing Organization
      </div>
      <div class="card-text">
        La WBO distinguió al "Gimnasio Jesus Romero" entre 20 a nivel
        mundial quedando seleccionado primero por la obra
        social humana comunitaria gratuitamente via del boxeo
        en bien de la comunidad.
      </div>
      <a class="card-read-more" href="#">
        Ir a la noticia
      </a>
    </div>
  </div>
</div>
