<div class="hero">
  <div class="hero-overlay">
    <div class="hero-content">
      <div class="hero-title">ENTRENAR</div>
      <div class="hero-title">POR LA VIDA</div>
      <div class="hero-subtitle">Asociacion Civil</div>
    </div>
  </div>
</div>

<div 
  class="p-3 p-lg-5 d-flex justify-content-center"
  data-aos="fade-in" 
  data-aos-duration="2000">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-xl-6">
        <div class="mision-title">
          <span>Nuestra mision</span>
          <span class="divisor"></span>
        </div>
        <div class="mision-text">
          Una asociación deportiva para asistir profesional, comunitaria. social y
          gratuitamente a personas de ambos sexos sin límites de edad.<br />
          Dirigida a incorporar al deporte, la educacion física a todo aquel que
          por medio de esta disciplica lo aleje de las tentaciones negativas.
        </div>
        <a class="mision-read-more" href="#">Leer más</a>
      </div>
      <div class="col-xl-6 d-none d-xl-flex">
        <img src="assets/images/mision.jpg" class="img-fluid" alt="Mision" />
      </div>
    </div>
  </div>
</div>

<div class="reconocimientos">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="reconocimientos-title">
          <span>Reconocimentos y Distinciones</span>
          <span class="divisor"></span>
        </div>
  
        <div class="row">
          <div
            data-aos="fade-up"
            data-aos-delay="500"
            data-aos-duration="1000"
            class="col-md-4 col-12"
          >
            <app-card
              imgSrc="assets/images/reconocimiento.jpg"
              altTxt="Reconocimento por Labor Social"
              title="Ciudadano Ilustre"
              text=" Reconocimiento del Gobierno de la Ciudad Autónoma de Buenos Aires
              para Jesus Eugenio Romero. El día de abril de 2017 a las 19 horas,
              en el Salón [...]"
            >
            </app-card>
          </div>
    
          <div
            data-aos="fade-up"
            data-aos-delay="600"
            data-aos-duration="1000"
            class="col-md-4 col-12"
          >
            <app-card
              imgSrc="assets/images/pfa.jpg"
              altTxt="Reconocimento por Labor Social"
              title="Mención Policia Federal"
              text="En un acto en el departamento central de la Policia Federal
              Argentina. Le entregaron una distinción a Jesus Romero por haber
              sido desde niño adoptado por esa fuerza que fue la base de la
              extensa carrera amateur y profesional que logró."
            >
            </app-card>
          </div>
    
          <div
            data-aos="fade-up"
            data-aos-delay="700"
            data-aos-duration="1000"
            class="col-md-4 col-12"
          >
            <app-card
              imgSrc="assets/images/donacion-wbo.jpg"
              altTxt="Reconocimento por Labor Social"
              title="World Boxing Organization"
              text='La WBO distinguió al "Gimnasio Jesus Romero" entre 20 a nivel
              mundial quedando seleccionado primero por la obra social humana
              comunitaria gratuitamente via del boxeo en bien de la comunidad.'
            >
            </app-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>