.hero {
  width: 100%;
  height: 600px;
  background-image: url("https://www.buenosaires.gob.ar/sites/gcaba/files/field/image/box_3.jpg");
  background-size: cover;

  .hero-overlay {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 6em 6em;
    width: 100%;
    height: 100%;
  }

  .hero-content {
    .hero-title {
      color: white;
      font-size: 72pt;
      text-transform: uppercase;
    }

    .hero-subtitle {
      color: white;
      font-size: 28pt;
    }
  }
}

.mision- {
  &title {
    display: flex;
    flex-direction: column;
    font-size: 28pt;
    flex: 0 0 100%;
    margin-bottom: 0.8em;
  }

  &text {
    line-height: 1.6em;
    font-size: 15pt;
    margin-bottom: 1.5em;
  }

  &read-more {
    font-size: 14pt;
    padding: 0.6em 1.4em;
    background-color: #222;
    color: white;
  }
}

.mision {
  display: flex;
  flex-wrap: wrap;
  padding: 4em 0;

  .mision-title {
    display: flex;
    flex-direction: column;
    font-size: 28pt;
    flex: 0 0 100%;
    margin-bottom: 0.8em;
  }

  .mision-content {
    width: 50%;
    padding-right: 3em;

    .mision-text {
      line-height: 1.6em;
      font-size: 15pt;
      margin-bottom: 3em;
    }
  }

  .mision-picture {
    width: 50%;
    img {
      width: 100%;
    }
  }
}

.reconocimientos-title {
  display: flex;
  flex-direction: column;
  font-size: 28pt;
  flex: 0 0 100%;
  margin-bottom: 1.4em;
}

.reconocimientos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 4em 0;
  background-color: #eceef0;


}

.divisor {
  width: 60px;
  height: 6px;
  margin-top: 0.2em;
  background-color: #222;
}
